<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="text" value="0"/>
    <add key="file" value="1"/>
    <add key="Key" value="2"/>
    <add key="encoding" value="UTF8"/>
    <add key="FrameSize" value="256"/>
    <add key="ProgressBarMax" value="100000"/>
  </appSettings>
</configuration>